{% extends 'base.html.twig' %}

{% block title %}Обратная связь{% endblock %}

{% block content %}

    <div class="col-6" {{ stimulus_controller('feed-back', {
        'url': path('app_feedback'),
        'identifier': 'first_form'
    }) }}>
        <div data-feed-back-target="form"></div>
    </div>

    <div class="col-6" {{ stimulus_controller('feed-back', {
        'url': path('app_feedback'),
        'identifier': 'second_form'
    }) }}>
        <div data-feed-back-target="form"></div>
    </div>


{% endblock %}
