{% if formName is defined %}
    {% set identifier = formName %}
{% else %}
    {% set identifier = 'feedbackForm' %}
{% endif %}

<div {{ stimulus_controller('feedback', {
    url: path('app_feedback'),
    identifier: identifier
}) }}>

    <div {{ stimulus_target('feedback', 'form') }}></div>

    <button {{ stimulus_action('feedback', 'resolveFeedBack') }}>
        {% if buttonName is defined %}
            {{ buttonName }}
        {% else %}
            Отправить
        {% endif %}
    </button>

</div>