{# @var contact \App\Entity\Contact #}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}СППК{% endblock %}</title>
    <meta name="description" content="{% block description %}Санкт-Петербургская клининговая компания{% endblock %}">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>

{% set isHome = isHome | default(false) %}
{% set contact = contacts() %}

<div class="scroll-container">
    {% block header %}
        {% include 'header.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}

    {% include 'components/sidebars/base-sidebar.html.twig' %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=&amp;lang=ru_RU" type="text/javascript"></script>
</body>
</html>
