<header class="header" id="header">
    <div class="container header__container">
        {% if isHome %}
            <div class="header__logo logo">
                <img src="{{ asset('build/images/logo.svg') }}" alt="spkk logo">
            </div>
        {% else %}
            <a href="/" class="header__logo logo">
                <img src="{{ asset('build/images/logo.svg') }}" alt="spkk logo">
            </a>
        {% endif %}

        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="#" data-anchor-link data-anchor="about" class="header-nav__link">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" data-anchor-link data-anchor="services" class="header-nav__link">Услуги</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" data-anchor-link data-anchor="process" class="header-nav__link">Процесс работы</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" data-anchor-link data-anchor="partners" class="header-nav__link">Партнеры</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" data-anchor-link data-anchor="contacts" class="header-nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__contact">
            {% if contact is not null and contact is defined %}
                {% if contact.phone is not null and contact.phone is defined %}
                    <a href="tel:+7 (812) 712-62-19" class="header__phone text-number">+7 (812) 712-62-19</a>
                {% endif %}
            {% endif %}
            <button class="header__btn" data-type="open-sidebar" data-sidebar="sidebar-feedback">Оставить заявку</button>
        </div>
        <div class="header__burger burger" data-type="open-sidebar" data-sidebar="sidebar-menu">
            <div class="burger__wrapper">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>