{# @var contact \App\Entity\Contact #}

{% set contact = contacts() %}

<header class="header">
    <div class="container header__container">
        <div class="header__logo logo">
            <img src="{{ asset('build/images/logo.svg') }}" alt="spkk logo">
        </div>
        <nav class="header__nav header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="#about" class="header-nav__link">О нас</a>
                </li>
                <li class="header-nav__item">
                    <a href="#services" class="header-nav__link">Услуги</a>
                </li>
                <li class="header-nav__item">
                    <a href="#process" class="header-nav__link">Процесс работы</a>
                </li>
                <li class="header-nav__item">
                    <a href="#partners" class="header-nav__link">Партнеры</a>
                </li>
                <li class="header-nav__item">
                    <a href="#contacts" class="header-nav__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__contact">
            {% if contact is not null and contact is defined %}
                {% if contact.phone is not null and contact.phone is defined %}
                    <a href="tel:+7 (812) 712-62-19" class="header__phone text-number">+7 (812) 712-62-19</a>
                {% endif %}
            {% endif %}
            <button class="header__btn">Оставить заявку</button>
        </div>
        <div class="header__burger burger">
            <div class="burger__wrapper">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>