@mixin title-0 {
  font-size: 80px;
  line-height: 100%;
}

@mixin title-1 {
  font-size: 64px;
  line-height: 100%;
}

@mixin title-2 {
  font-size: 40px;
  line-height: 120%;
}

@mixin title-3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 120%;
}

@mixin title-4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

@mixin title-5-500 {
  font-size: 26px;
  font-weight: 500;
  line-height: 120%;
}

@mixin title-4-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@mixin title-16-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

@mixin text-12-14 {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

@mixin text-14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

@mixin text-14-16 {
  @include text-14;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

@mixin text-16-18 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}