{# @var about \App\Entity\PageSection #}
{# @var about_us \App\Entity\PageSection #}
{# @var how_it_works \App\Entity\PageSection #}
{# @var question_answer \App\Entity\PageSection #}
{# @var services \App\Entity\PageSection #}
{# @var advantages \App\Entity\PageSection #}
{# @var image \App\Entity\Media #}
{# @var gallery \App\Entity\Gallery #}
{# @var review \App\Entity\Review #}

{% extends 'base.html.twig' %}

{% block title %}СПКК{% endblock %}
{% block description %}Санкт-Петербургская клининговая компания{% endblock %}

{% block content %}
    <main class="main home-page">
        {#    главный баннер #}
        {% include 'components/sections/hero-section.html.twig' %}

        {#    секция "О нас" #}
        {% if about_us | length %}
            {% include 'components/sections/about-section.html.twig' with { section: about_us } %}
            {% if about_us.gallery | length %}
                {% include 'components/sections/gallery-section.html.twig' with { gallery: about_us.gallery } %}
            {% endif %}
        {% endif %}

        {#    секция "Наши услуги" #}
        {% if services_collection | length %}
            {% include 'components/sections/services-section.html.twig' with { services: services_collection } %}
        {% endif %}

        {#    секция с видео #}
        {% include 'components/sections/video-section.html.twig' with { video: asset('build/video/SpCC.mp4'), id: 'spcc-video', poster: asset('build/images/video-poster.jpg') } %}

        {#    секция "Преимущества" #}
        {% if advantages_collection | length %}
            {% include 'components/sections/advantages-section.html.twig' with { advantages: advantages_collection } %}
        {% endif %}

        {#    секция "Как мы работаем" #}
        {% if how_it_works_collection | length %}
            {% include 'components/sections/steps-section.html.twig' with { steps: how_it_works_collection } %}
        {% endif %}

        {#    секция "Наши проекты" #}
        {% if cases_collection | length %}
            {% include 'components/sections/swiper-section.html.twig' with { theme: 'grey', type: 'cases', title: 'Наши проекты', slides: cases_collection } %}
        {% endif %}

        {#    секция "Отзывы" #}
        {% if reviews | length %}
            {% include 'components/sections/swiper-section.html.twig' with { theme: 'grey', type: 'reviews', title: 'Отзывы', slides: reviews } %}
        {% endif %}

        {#    секция "Наша география" #}
        {% include 'components/sections/geography-section.html.twig' %}

        {#    секция "Наши партнеры" #}
        {% include 'components/sections/clients-section.html.twig' %}

        {#    секция "Ответы на часто задаваемые вопросы" #}
        {% if question_answer_collection | length %}
            {% include 'components/sections/faq-section.html.twig' with { faq: question_answer_collection } %}
        {% endif %}

        {% include 'components/sections/form-section.html.twig' %}
    </main>
{% endblock %}