{# @var about \App\Entity\PageSection #}
{# @var about_us \App\Entity\PageSection #}
{# @var how_it_works \App\Entity\PageSection #}
{# @var question_answer \App\Entity\PageSection #}
{# @var services \App\Entity\PageSection #}
{# @var advantages \App\Entity\PageSection #}
{# @var image \App\Entity\Media #}
{# @var gallery \App\Entity\Gallery #}

{% extends 'base.html.twig' %}

{% block title %}Политика конфеденциальности{% endblock %}
{% block description %}Политика конфеденциальности{% endblock %}

{% block content %}
    <main class="main policy-page">
        <div class="container">
            <h1 class="page-title">
                Политика конфеденциальности
            </h1>
            <div class="policy-page__content">
                <div>
                    <ul>
                        <li>
                            <h2>Общие положения</h2>
                            <p>
                                Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту,
                                расположенному по адресу http://.<br><br>

                                Сайт http:// (далее – Сайт) является собственностью OOO «Название организации».<br><br>

                                Настоящее Соглашение регулирует отношения между Администрацией сайта и Пользователем
                                данного Сайта.<br><br>

                                Администрация сайта оставляет за собой право в любое время изменять, добавлять или
                                удалять пункты настоящего Соглашения без уведомления Пользователя.<br><br>

                                Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений,
                                внесенных в настоящее Соглашение.<br><br><br><br>

                                Пользователь несет персональную ответственность за проверку настоящего Соглашения на
                                наличие изменений в нем.
                            </p>
                        </li>
                        <li>
                            <h2>Определения терминов</h2>
                            <p>
                                В настоящем Пользовательском соглашении используются следующие термины:<br><br>

                                «Администрация сайта» – уполномоченные сотрудники управления сайтом, действующие от
                                имени OOO «Название организации», которые организуют и (или) осуществляет обработку
                                персональных данных, а также определяет цели обработки персональных данных, состав
                                персональных данных, подлежащих обработке, действия (операции), совершаемые с
                                персональными данными.<br><br>

                                «Пользователь сайта» (далее - Пользователь) – лицо, имеющее доступ к Сайту, посредством
                                сети Интернет и использующее Сайт.<br><br>

                                «Содержание сайта» (далее – Содержание) - охраняемые результаты интеллектуальной
                                деятельности, включая тексты литературных произведений, их названия, предисловия,
                                аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без
                                текста, графические, текстовые, фотографические, производные, составные и иные
                                произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных
                                знаков, логотипы, программы, базы данных, а также дизайн, структура, выбор, координация,
                                внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и
                                других материалов.
                            </p>
                        </li>
                        <li>
                            <h2>Предмет соглашения</h2>
                            <p>
                                Предметом настоящего Соглашения является предоставление Пользователю доступа к
                                содержащейся на Сайте информации и оказываемым услугам.<br><br>

                                Под действие настоящего Соглашения подпадают все существующие (реально функционирующие)
                                на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и
                                появляющиеся в дальнейшем дополнительные услуги (сервисы).<br><br>

                                Доступ к Сайту предоставляется на добровольной основе.<br><br>

                                Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь
                                считается присоединившимся к настоящему Соглашению.<br><br>

                                Использование материалов и сервисов Сайта регулируется нормами действующего
                                законодательства Российской Федерации.<br><br>
                            </p>
                        </li>
                        <li>
                            <h2>Права и обязанности сторон</h2>
                            <p>
                                Администрация сайта вправе:<br><br>

                                Изменять правила пользования Сайтом, а также изменять содержание данного Сайта.
                                Изменения вступают в силу с момента публикации новой редакции Соглашения на
                                Сайте.<br><br>

                                Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего
                                Соглашения.<br><br>

                                Пользователь вправе:<br><br>

                                Пользоваться всеми имеющимися на Сайте услугами.<br><br>

                                Задавать любые вопросы, относящиеся к услугам.<br><br>

                                Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не
                                запрещенных законодательством Российской Федерации.<br><br>

                                Пользователь Сайта обязуется:<br><br>

                                Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет
                                непосредственное отношение к предоставляемым услугам данного Сайта.<br><br>

                                Соблюдать имущественные и неимущественные права авторов и иных правообладателей при
                                использовании Сайта.<br><br>

                                Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную
                                работу Сайта.<br><br>

                                Не распространять с использованием Сайта любую конфиденциальную и охраняемую
                                законодательством Российской Федерации информацию о физических либо юридических
                                лицах.<br><br>

                                Избегать любых действий, в результате которых может быть нарушена конфиденциальность
                                охраняемой законодательством Российской Федерации информации.<br><br>

                                Не использовать Сайт для распространения информации рекламного характера, иначе как с
                                согласия Администрации сайта.
                                Не использовать Сайт с целью:<br><br>

                                Загрузки контента, который является незаконным, нарушает любые права третьих лиц;
                                пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому,
                                национальному, половому, религиозному, социальному признакам; содержит недостоверные
                                сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов
                                власти.<br><br>

                                Побуждения к совершению противоправных действий, а также содействия лицам, действия
                                которых направлены на нарушение ограничений и запретов, действующих на территории
                                Российской Федерации.<br><br>

                                Нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.<br><br>

                                Ущемления прав меньшинств.<br><br>

                                Представления себя за другого человека или представителя организации и (или) сообщества
                                без достаточных на то прав, в том числе за сотрудников данного Сайта.<br><br>

                                Введения в заблуждение относительно свойств и характеристик услуг, размещенных на Сайте.<br><br>

                                Некорректного сравнения услуг, а также формирования негативного отношения к лицам, (не)
                                пользующимся определенными услугами, или осуждения таких лиц.<br><br>

                                Пользователю запрещается:<br><br>

                                Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические
                                устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или
                                отслеживания содержания данного Сайта.<br><br>

                                Нарушать надлежащее функционирование Сайта.<br><br>

                                Любым способом обходить навигационную структуру Сайта для получения или попытки
                                получения любой информации, документов или материалов любыми средствами, которые
                                специально не представлены сервисами данного Сайта.<br><br>

                                Несанкционированный доступ к функциям Сайта, любым другим системам или сетям,
                                относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте.<br><br>

                                Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся
                                к Сайту.<br><br>

                                Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом
                                другом Пользователе Сайта.<br><br>

                                Использовать Сайт и его Содержание в любых целях, запрещенных законодательством
                                Российской Федерации, а также подстрекать к любой незаконной деятельности или другой
                                деятельности, нарушающей права интернет-ресурса или других лиц.
                            </p>
                        </li>
                        <li>
                            <h2>Использование сайта</h2>
                            <p>
                                Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией
                                сайта.<br><br>

                                Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или
                                распространено любым способом, а также размещено в глобальной сети «Интернет» без
                                предварительного письменного согласия Администрации сайта.<br><br>

                                Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также
                                другими правами, связанными с интеллектуальной собственностью, и законодательством о
                                недобросовестной конкуренции.<br><br>

                                Настоящее Соглашение распространяет свое действия на все дополнительные положения по
                                оказанию услуг, предоставляемых на Сайте.
                                Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего
                                Соглашения.<br><br>

                                Администрация сайта имеет право в любое время без уведомления Пользователя вносить
                                изменения в перечень услуг, предлагаемых на Сайте.
                            </p>
                        </li>
                        <li>
                            <h2>Ответственность</h2>
                            <p>
                                Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного
                                нарушения любого положения настоящего Соглашения, а также вследствие
                                несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта
                                не возмещаются.<br><br>

                                Администрация сайта не несет ответственности за:<br><br>

                                Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой
                                силы, а также любого случая неполадок в телекоммуникационных, компьютерных,
                                электрических и иных смежных системах.<br><br>

                                Действия систем переводов, банков, платежных систем и за задержки связанные с их
                                работой.<br><br>

                                Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых
                                технических средств для его использования, а также не несет никаких обязательств по
                                обеспечению пользователей такими средствами.
                            </p>
                        </li>
                        <li>
                            <h2>Нарушение условий пользовательского соглашения</h2>
                            <p>
                                Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта
                                информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении
                                неправомерного использования Сайта либо для установления (идентификации) Пользователя,
                                который может нарушать или вмешиваться в права Администрации сайта или в права других
                                Пользователей Сайта.<br><br>

                                Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую
                                посчитает необходимой для выполнения положений действующего законодательства или
                                судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или
                                безопасности.<br><br>

                                Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее
                                законодательство Российской Федерации требует или разрешает такое раскрытие.<br><br>

                                Администрация сайта вправе без предварительного уведомления Пользователя прекратить и
                                (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или
                                содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения
                                действия Сайта либо по причине технической неполадки или проблемы.<br><br>

                                Администрация сайта не несет ответственности перед Пользователем или третьими лицами за
                                прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего
                                Соглашения или иного документа, содержащего условия пользования Сайтом.
                            </p>
                        </li>
                        <li>
                            <h2>Разрешение споров</h2>
                            <p>
                                В случае возникновения любых разногласий или споров между Сторонами настоящего
                                Соглашения обязательным условием до обращения в суд является предъявление претензии
                                (письменного предложения о добровольном урегулировании спора).<br><br>

                                Получатель претензии в течение 30 календарных дней со дня ее получения, письменно
                                уведомляет заявителя претензии о результатах рассмотрения претензии.<br><br>

                                При невозможности разрешить спор в добровольном порядке любая из Сторон вправе
                                обратиться в суд за защитой своих прав, которые предоставлены им действующим
                                законодательством Российской Федерации.<br><br>

                                Любой иск в отношении условий использования Сайта должен быть предъявлен в течение срока
                                после возникновения оснований для иска, за исключением защиты авторских прав на
                                охраняемые в соответствии с законодательством материалы Сайта. При нарушении условий
                                данного пункта любой иск или основания для иска погашаются исковой давностью.
                            </p>
                        </li>
                        <li>
                            <h2>Дополнительные условия</h2>
                            <p>
                                Администрация сайта не принимает встречные предложения от Пользователя относительно
                                изменений настоящего Пользовательского соглашения.<br><br>

                                Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и
                                могут быть использованы Администрацией сайта без ограничений.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block footer %}
{% endblock %}