<div class="page-loader active">
    <div class="page-loader__inner">
    </div>
    <div class="page-loader__text">
        <svg>
            <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#logo-text"></use>
        </svg>
    </div>
</div>