<div class="page-loader active">
    <div class="page-loader__inner">
    </div>
    <div class="page-loader__text">
        <svg viewBox="0 0 123 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.0376 47.669C10.4719 47.669 8.1943 47.3575 6.20463 46.7343C4.26732 46.1631 2.74889 44.9429 1.64933 43.0735C0.549777 41.2041 0 38.4001 0 34.6613V10.4373C0 7.6852 0.549777 5.55619 1.64933 4.05031C2.80125 2.54442 4.34586 1.50589 6.28317 0.934689C8.27284 0.311563 10.5505 0 13.1161 0C16.9907 0 20.08 0.726979 22.3838 2.18094C24.6876 3.63489 25.8395 6.38703 25.8395 10.4373V19.8621H17.0431V10.0479C17.0431 8.07466 16.6504 6.80244 15.865 6.23124C15.132 5.66005 14.2157 5.37445 13.1161 5.37445C11.9118 5.37445 10.9432 5.66005 10.2101 6.23124C9.52947 6.80244 9.18913 8.07466 9.18913 10.0479V37.8548C9.18913 39.828 9.52947 41.1003 10.2101 41.6715C10.9432 42.2427 11.9118 42.5283 13.1161 42.5283C14.268 42.5283 15.2105 42.2427 15.9435 41.6715C16.6766 41.1003 17.0431 39.828 17.0431 37.8548V28.9753H25.8395V34.6613C25.8395 38.4001 25.3159 41.2041 24.2687 43.0735C23.2215 44.9429 21.7293 46.1631 19.792 46.7343C17.907 47.3575 15.6556 47.669 13.0376 47.669Z" fill="#261A0E"/>
            <path d="M30.9808 46.7343V0.701015H56.7418V46.7343H47.5527V6.85437H40.2485V46.7343H30.9808Z" fill="#261A0E"/>
            <path d="M81.1308 46.7343L72.0202 22.8219L80.9737 0.701015H90.3984L80.6595 22.8219L90.7126 46.7343H81.1308ZM62.7525 46.7343V0.701015H71.5489V46.7343H62.7525Z" fill="#261A0E"/>
            <path d="M113.191 46.7343L104.08 22.8219L113.034 0.701015H122.459L112.72 22.8219L122.773 46.7343H113.191ZM94.8126 46.7343V0.701015H103.609V46.7343H94.8126Z" fill="#261A0E"/>
        </svg>
    </div>
</div>