//base
$maxWidth: 1220px;

//COLORS
$white: #fff;
$grey: #C4C4C4;
$orange: #C58335;
$brown: #261A0E;
$brown_light: #4A4343;
$red: #EF0707;

//FONTS FAMILY
$ff-main: "Raleway", sans-serif;
$ff-secondary: "Inter", sans-serif;


