@import "../mixins";
.error-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      max-width: 625px;
    }
    @media screen and (min-width: 1600px) {
      max-width: 900px;
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 30px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__title {
    @include title-4;
  }
  &__btn-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    @media screen and (min-width: 768px) {
      bottom: 80px;
    }
    @media screen and (min-width: 1280px) {
      position: unset;
      padding: 0;
      max-width: 245px;
      margin-top: 35px;
    }
  }
  &__btn {
    @include orange-button;
    text-align: center;
  }
}