<aside class="side-menu">
    <div class="side-menu__inner">
        <span class="side-modal__close-btn">
            <svg class="side-modal__close-svg">
                <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#close"></use>
            </svg>
        </span>
        {% include './components/side-modals/feedback-side-modal.html.twig' %}
        {% include './components/side-modals/menu-side-modal.html.twig' %}
        {% include './components/side-modals/notice-side-modal.html.twig' %}
    </div>
</aside>
