<aside class="sidebar" data-scroll data-scroll-sticky data-scroll-target=".scroll-container">
    <div class="sidebar__inner">
        <button class="sidebar__close-btn">
        </button>
        {% include 'components/sidebars/sidebar-menu.html.twig' %}
        {% include 'components/sidebars/sidebar-feedback.html.twig' %}
    </div>
</aside>