<div class="sidebar__body sidebar-feedback__body">
    <h4 class="sidebar-feedback__title">
        Оставить заявку
    </h4>
    <p class="sidebar-feedback__description">
        Для консультации с нашим специалистом оставьте заявку в форме или свяжитесь любым удобным способом:
    </p>
    {% include 'feedback/stimulus-feedback.html.twig' with { formName: 'sidebar-feedback' } %}
</div>