<div class="sidebar__body sidebar-menu__body">
    <ul class="sidebar-menu__list">
        {% if about() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="about" data-type="close-sidebar" class="sidebar-menu__link">О
                    нас</a>
            </li>
        {% endif %}
        {% if service() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="services" data-type="close-sidebar"
                   class="sidebar-menu__link">Услуги</a>
            </li>
        {% endif %}
        {% if work() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="process" data-type="close-sidebar" class="sidebar-menu__link">Процесс
                    работы</a>
            </li>
        {% endif %}
        {% if case() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="cases" data-type="close-sidebar" class="sidebar-menu__link">Наши проекты</a>
            </li>
        {% endif %}
        {% if review() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="reviews" data-type="close-sidebar" class="sidebar-menu__link">Отзывы</a>
            </li>
        {% endif %}
        {% if location() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="locations" data-type="close-sidebar" class="sidebar-menu__link">Филиалы</a>
            </li>
        {% endif %}
        <li class="sidebar-menu__item">
            <a href="#" data-anchor-link data-anchor="partners" data-type="close-sidebar"
               class="sidebar-menu__link">Клиенты</a>
        </li>
        {% if question_answer() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="faq" data-type="close-sidebar" class="sidebar-menu__link">FAQ</a>
            </li>
        {% endif %}
        {% if contacts() %}
            <li class="sidebar-menu__item">
                <a href="#" data-anchor-link data-anchor="contacts" data-type="close-sidebar"
                   class="sidebar-menu__link">Контакты</a>
            </li>
        {% endif %}
    </ul>

    {% if contact is not null and contact is defined %}
        {% if contact.phone is not null and contact.phone is defined %}
            <a href="tel:{{ contact.numericPhone }}" class="sidebar-menu__phone text-number">{{ contact.phone }}</a>
        {% endif %}
    {% endif %}

    <button class="sidebar-menu__btn" data-type="open-sidebar" data-sidebar="sidebar-feedback">Оставить заявку</button>
</div>

