.advantages-section {
  &__advantages {
    border-top: 1px solid $grey;
  }
  &__advantage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey;
    @media screen and (min-width: 1280px) {
      gap: 0;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}

.advantage {
  &__title {
    width: 100%;
    flex: 1;
  }

  &__content {
    width: 100%;
    flex: 1;
    @media screen and (min-width: 1280px) {
      width: 50%;
    }
  }
}