@import "../../mixins";
.base-section {
  padding-top: 80px;
  padding-bottom: 80px;
  &:not(&_grey) + &:not(&_grey) {
    padding-top: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }


  &__title {
    @include title-4;
    color: $orange;
    margin-bottom: 30px;
    @media screen and (min-width: 1280px) {
      @include title-2;
      margin-bottom: 50px;
    }
  }
  &__text {
    @include text-16-18;
    color: $brown_light;
  }

  &_grey {
    background-color: #F6F6F6;
    & + & {
      padding-top: 0;
    }
  }
  &__heading {
    @include title-16-500;
    @media screen and (min-width: 1280px) {
      @include title-4-500;
    }
  }
  &__content {
    @include text-14-16;
    color: $brown-light;

    p + ul {
      margin-top: 10px;
    }

    li {
      list-style: disc;
      margin-left: 25px;
    }

    b {
      color: $orange;
      font-weight: 400;
    }
  }
}