.lada-section {
  &__link {
    color: $orange;
    font-weight: 500;
    text-decoration: underline;
  }
  &__img {
    margin: 0 auto;
    width: 60%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}