@import '../../mixins';

.services-section {

  &__services {
    border-top: 1px solid $grey;
  }

  &__service {
    width: 100%;
    padding-top: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      max-width: calc(66.6% - 50px / 3);
      padding-top: 45px;
      margin-left: auto;
    }
    @media screen and (min-width: 1600px) {
      max-width: calc(66.6% - 60px / 3);
    }
  }
}

.service {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-bottom:20px;
  border-bottom: 1px solid $grey;
  @media screen and (min-width: 1280px) {
    gap: 50px;
    padding-bottom: 45px;
    position: relative;
    &:hover &__image {
      opacity: 1;
    }
  }
  @media screen and (min-width: 1600px) {
    gap: 60px;
  }

  &__title {
    width: 100%;
    flex: 1;
  }

  &__content {
    width: 100%;
    flex: 1;
  }

  &__image {
    display: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (min-width: 1280px) {
      display: block;
      opacity: 0;
      width: calc(50% - 50px / 2);
      position: absolute;
      top: 0;
      right: calc(100% + 50px);
      transition: opacity 1s ease;
      &_bottom {
        top: auto;
        bottom: 0;
      }
    }
    @media screen and (min-width: 1600px) {
      max-width: calc(50% - 60px / 2);
      right: calc(100% + 60px);
    }
  }
}
