{% extends 'base.html.twig' %}

{% block title %}СПКК{% endblock %}

{% block content %}
    <p>Санкт-Петербургская клининговая компания</p>
    <h1>Безупречная чистота и комфорт для любого объекта - с нами!</h1>
{% endblock %}
