<section class="base-section about-section" id="about">
    <div class="container">
        <div class="about-section__heading">
            {{ section.title }}
        </div>
        <div class="about-section__body">
            <h2 class="base-section__title">О нас</h2>
            <div class="base-section__text about-section__description">
                {{ section.description | raw }}
            </div>
        </div>
        <ul class="about-section__numbers">
            <li class="about-section__number about-number">
                <div class="about-number__numeric text-number">30 лет</div>
                <div class="about-number__value">Опыт работы в сферее</div>
            </li>
            <li class="about-section__number about-number">
                <div class="about-number__numeric text-number">500 +</div>
                <div class="about-number__value">Компаний пользуются нашими услугами</div>
            </li>
            <li class="about-section__number about-number">
                <div class="about-number__numeric text-number">150</div>
                <div class="about-number__value">Офисов по всей стране</div>
            </li>
        </ul>
    </div>
</section>