<section class="base-section about-section" id="about">
    <div class="container">
        <div class="about-section__heading">
            {{ section.title }}
        </div>
        <div class="about-section__body">
            <h2 class="base-section__title">О нас</h2>
            <div class="base-section__text about-section__description">
                {{ section.description | raw }}
            </div>
        </div>
        {% if about_collection | length %}
            <ul class="about-section__numbers">
                {% for item in about_collection %}
                    <li class="about-section__number about-number">
                        <div class="about-number__numeric text-number">{{ item.title }}</div>
                        <div class="about-number__value">{{ item.description | raw }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</section>