<section class="base-section advantages-section">
    <div class="container">
        <ul class="advantages-section__advantages">
            {% for item in advantages %}
                <li class="advantages-section__advantage advantage">
                    <h3 class="base-section__heading advantage__title">{{ item.title }}</h3>
                    <div class="base-section__content advantage__content">
                        {{ item.description | raw }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>