<section class="base-section base-section_grey advantages-section">
    <div class="container">
        <ul class="advantages-section__advantages">
            <li class="advantages-section__advantage advantage">
               <h3 class="base-section__heading advantage__title">Профессиональное оборудование</h3>
                <div class="base-section__content advantage__content">
                    <p>
                        Мы обеспечиваем качественную и быструю уборку офисов и коммерческих зданий, включая ежедневную и генеральную уборку бизнес-центров.
                    </p>
                </div>
            </li>
            <li class="advantages-section__advantage advantage">
                <h3 class="base-section__heading advantage__title">Профессиональное оборудование</h3>
                <div class="base-section__content advantage__content">
                    <p>
                        Мы обеспечиваем качественную и быструю уборку офисов и коммерческих зданий, включая ежедневную и генеральную уборку бизнес-центров.
                    </p>
                </div>
            </li>
            <li class="advantages-section__advantage advantage">
                <h3 class="base-section__heading advantage__title">Профессиональное оборудование</h3>
                <div class="base-section__content advantage__content">
                    <p>
                        Профессиональный клининг для образовательных учреждений:
                    </p>
                    <ul>
                        <li>индивидуальный график уборки</li>
                        <li>уборку входных групп и территории</li>
                        <li>Генеральная уборка доступна 1-2 раза в месяц</li>
                        <li>Быстро и качественно после ремонта или форс-мажорных ситуаций</li>
                    </ul>
                </div>
            </li>
            <li class="advantages-section__advantage advantage">
                <h3 class="base-section__heading advantage__title">Профессиональное оборудование</h3>
                <div class="base-section__content advantage__content">
                    <p>
                        Наши клининговые специалисты берут на себя трудоемкую послестроительную уборку, чтобы обеспечить чистоту и опрятность помещений.
                    </p>
                </div>
            </li>
            <li class="advantages-section__advantage advantage">
                <h3 class="base-section__heading advantage__title">Профессиональное оборудование</h3>
                <div class="base-section__content advantage__content">
                    <p>
                        Мы обеспечиваем уборку торговых центров с использованием специализированного оборудования и безопасных чистящих средств. Наши опытные специалисты гарантируют идеальную чистоту и быстрое выполнение заказов клиентов.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>