<section class="base-section base-section_grey faq-section">
    <div class="container">
        <h2 class="base-section__title">Ответы на часто задаваемые вопросы</h2>
        {% set list = [
            { title: 'Работаете ли вы с заказчиками из других городов и стран?', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo!' },
            { title: 'Есть ли у вас строительная бригада? Работаете с бригадой заказчика?', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo!' },
            { title: 'Сколько по времени вы делаете проект?', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo!Lorem ipsum dolor sit amet, consectetur adipisicing elit.' },
            { title: 'Получится ли в точности реализовать проект?', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo!' },
            { title: 'Помогаете ли вы в подборе смежных подрядчиков по инженерным системам?', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut, corporis doloremque ex fuga harum id in perferendis quibusdam quod sit tenetur veniam. Aperiam assumenda dolorum error porro quo!' },
        ] %}
        <ul class="faq-section__list">
            <li class="faq-section__item">
                {% for item in list %}
                    {% include 'components/base-dropdown.html.twig' with { name: 'faq', title: item.title, content: item.description } %}
                {% endfor %}
            </li>
        </ul>
    </div>
</section>