<section class="base-section base-section_grey faq-section">
    <div class="container">
        <h2 class="base-section__title">Ответы на часто задаваемые вопросы</h2>
        <ul class="faq-section__list">
            {% for item in faq %}
                <li class="faq-section__item">
                    {% include 'components/base-dropdown.html.twig' with { name: 'faq', title: item.title, content: item.description } %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>