<section class="base-section form-section">
    <div class="container">
        <div class="form-section__header">
            <h2 class="base-section__title">Оставить заявку</h2>
            <p class="base-section__text">
                Для консультации с нашим специалистом оставьте заявку в форме или свяжитесь любым удобным способом:
            </p>
        </div>
        <div class="form-section__wrapper">
{#            {% include 'feedback/form.html.twig' %}#}
        </div>
    </div>
</section>