<section class="base-section base-section_grey geography-section" id="locations">
    <div class="container">
        <h2 class="base-section__title">Наша география</h2>
        <div class="geography-section__wrapper">
            <div class="geography-section__map" data-icon="{{ asset('build/images/pin-icon.svg') }}" id="geography-map"></div>
        </div>
    </div>
</section>