<section class="hero-section">
    <div class="container hero-section__container">
        <h1 class="hero-section__title">Санкт-Петербургская клининговая компания</h1>
        <p class="hero-section__description">Безупречная чистота и комфорт для любого объекта - с нами!</p>
        <button class="hero-section__btn" data-type="open-sidebar" data-sidebar="sidebar-feedback">Оставить заявку</button>
    </div>
    <video class="hero-section__bg" src="{{ asset('build/video/video-bg.mp4') }}" preload autoplay loop muted playsinline></video>
</section>