<section class="base-section services-section" id="services">
    <div class="container">
        <h2 class="base-section__title">
            Наши услуги
        </h2>
        <ul class="services-section__services">
            {% for item in services %}
                {% set bottom = loop.index == services | length or loop.index == (services | length - 1) %}
                <li class="services-section__service">
                    <div class="service{% if loop.index == 1 %} active{% endif %}">
                        <h3 class="base-section__heading service__title">{{ item.title }}</h3>
                        <div class="base-section__content service__content">
                            {{ item.description | raw }}
                        </div>
                        <div class="service__image{% if bottom %} service__image_bottom{% endif %}">
                            <img src="{{ vich_uploader_asset(item.gallery[0].image,'imageFile') }}"
                                 alt="{{ item.title }}">
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>