<section class="base-section base-section_grey steps-section" id="process">
    <div class="container">
        <h2 class="base-section__title">Как мы работаем</h2>
        <ul class="steps-section__steps">
            {% for item in steps %}
                <li class="steps-section__step">
                    {% include 'components/base-dropdown.html.twig' with { count: loop.index, name: 'process', title: item.title, content: item.description } %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>