<section class="base-section video-section">
    <div class="container">
        <div class="video-section__wrapper">
            <video class="video-section__video video-js" id="{{ id }}" src="{{ video }}" poster="{{ poster}}" preload muted loop playsinline></video>
            <div class="video-section__overlay">
                <button class="video-section__btn"></button>
            </div>
        </div>
    </div>
</section>