{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block content %}
<main class="main error-page">
<div class="container">
    <div class="error-page__body">
        <div class="error-page__image">
            <img src="{{ asset('build/images/404.png') }}" alt="404">
        </div>
        <h1 class="error-page__title">Страница не найдена</h1>
    </div>
    <a href="/" class="error-page__btn">Вернуться на главную</a>
</div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}