{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block content %}
    <h1>Страница не найдена 404</h1>
    <hr>
    <p>
        <a href="{{ path('app_home_page') }}">Домой!</a>
    </p>
{% endblock %}