@import '../../vars';
@import '../../mixins';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  transition: opacity .6s ease;
  background-color: $white;

  &.hidden {
    opacity: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    @media screen and (min-width: 1280px) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &__logo {
    width: 42px;
    height: 38px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (min-width: 1280px) {
      width: 67px;
      height: 60px;
    }
  }

  &__nav {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }

  &__contact {
    display: none;
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      gap: 35px;
    }
  }

  &__phone {
    @include text-14;
    font-weight: 500;
    transition: color .4s ease;
    @media screen and (min-width: 1280px) {
      &:hover {
        color: $orange;
      }
    }
  }

  &__btn {
    @include orange-button;
  }

  &__burger {
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.header-nav {
  &__list {
    display: flex;
    gap: 40px;
  }

  &__link {
    @include menu-link;
  }
}

.burger {
  height: 30px;
  width: 30px;
  padding: 4px 2px;
  @include burger;
}